header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9995;
  height: 6rem;
}

.navbar-wrapper.bg-color-change {
  background-color: #425a78;
}

header .navbar-wrapper {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem 7rem;
}

header .navbar-wrapper .navbar-content {

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .navbar-wrapper .navbar-content .logo {
  font-size: 2.25rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}

header .navbar-wrapper .navbar-content .nav-links {
  margin: 0;
  display: flex;
  align-items: center;
}

header .navbar-wrapper .navbar-content .nav-links li {
  list-style-type: none;
}

header .navbar-wrapper .navbar-content .nav-links li a {
  text-decoration: none;
  color: white;
  margin: 0 1.25rem;
  font-weight: 500;
  font-size: 1.4rem;
  position: relative;
}

header .navbar-wrapper .navbar-content .nav-links li a::after {
  position: absolute;
  content: "";
  background-color: black;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  transition: 0.3s ease all;
}

header .navbar-wrapper .navbar-content .nav-links li a:hover::after {
  width: 100%;
}

header .navbar-wrapper .navbar-content .nav-links button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.75rem 1rem;
  margin: 0 1rem;
  border-radius: 6px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 500;
}

header .navbar-wrapper .navbar-content i {
  display: none;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 850px) {
  header .navbar-wrapper .navbar-content .nav-links {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 100%;
    width: 225px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(-100%);
    transition: 0.4s ease all;
    z-index: 10;
  }

  header .navbar-wrapper .navbar-content .nav-links li a {
    color: #000;
  }

  header .navbar-wrapper .navbar-content .nav-links li a::after {
    background-color: #000;
  }

  header .navbar-wrapper .navbar-content .nav-links button {
    border-color: #000;
    color: #000;
    padding: 0.75rem 1.5rem;
  }

  header .navbar-wrapper .navbar-content .nav-links.active {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 100vh;
    background-color: #e1e1e1;
    transform: translateX(0%);
  }

  header .navbar-wrapper .navbar-content i {
    font-size: 36px;
    display: block;
  }
}