#project-hero {
  height: 38vh;
}

body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  background-color: #e1e1e1;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
/* Navbar */
#project-hero {
  background-image: url(../img/coop.jpg);
  background-repeat: no-repeat;
}

.title {
  color: #343536;
  font-family: 'dejavu_sansbold';
  text-align: center;
  font-size: 45px;
  border-radius: 30px;
  width: 380px;
  margin: 60px auto;
  position: relative;
}